@font-face {
  font-family: futura;
  src: url(assets/webfonts/Futura-Medium.ttf) format('truetype');
  font-display: swap;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "futura", "Tahoma", system-ui, -apple-system, sans-serif;
  font-size: 1em;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 1) 0%, rgb(40, 40, 40) 100%);
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  display: block;
  width: 95%;
  max-width: 600px;
}

.main-content {
  flex: 1 0 auto;
}

.dates-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e7cea3;
}

.dates-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dates-list p,
.dates-list a {
  color: #e7cea3;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

.dates-list > table {
  border-spacing: 8px;
}

.dates-list > :first-child {
  margin-top: 0;
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
  padding-top: 1em;
  max-width: 480px;
  min-height: 500px;
}

ul > li {
  background-color: #e7cea3;
  border-radius: 1em;
  margin: 1.4em 0;
  transition: transform 300ms ease-out;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #000000;
}

li:hover {
  transform: scale(1.1);
}

i {
  font-size: 1.3em;
}

.footer {
  flex-shrink: 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.footer-container > a {
  font-size: 0.8em;
  margin-left: 2em;
  color: #e7cea3;
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #e7cea3;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.modal {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.4);

}

.modal-content {
  background: rgba(0, 0, 0, 0);
  padding: 8px;
  border-radius: 0.5em;
  width: 80%;
  height: 80%;
  color: #ffffff;
}

.modal-content > iframe {
  height: 100%;
  width: 100%;
}

.datenschutz {
  padding: 8px;
  color: #ffffff
}

.history {
  opacity: 40%;
}

p > a,
h3 > a,
h4 > a {
  color: rgb(173, 173, 173)
}

.link {
  cursor: pointer;
}